<!DOCTYPE html>
<html>
<head>
  <title>FinalApp</title>
  <%= stylesheet_link_tag('patients', :media => 'all') %>
  <%=javascript_include_tag('application')%>
  <%= csrf_meta_tags %>
<script src="jquery.1.9.1.min.js" type="text/javascript"></script>
<script src="highcharts.js" type="text/javascript"></script>

</head>
<body id="body">
<div id="top"><span><h1>Welcome <span id="username"><%= session[:username]%></span> at <%= @page_title %></h1></span>  <%=button_to("Logout",{:controller=>"Access",:action=>"logout"},:id=>"logout")%></div>
<div id="whole">
<div id="nav">
<table>

<tr><td><%=button_to("List All Patients",patients_path,:method => "get",:id => "button")%></td></tr>
<tr><td><%=button_to("Add Patients",new_patient_path,:method => "get",:id => "button")%></td></tr>
<tr><td><%=button_to("search Patients",patients_path,:method => "get",:id => "button")%></td></tr>
<tr><td><%=button_to("Go to indicators",indicators_path,:method => "get",:id => "button")%></td></tr>
<tr><td><%=button_to("<<Back",administrator_page_index_path,:method => "get",:id => "button")%></td></tr>
</table>

</div>
<div id="content"><%= yield %></div>



</div>


</body>
</html>
